<main class="container mt-4">
  <h2>Incluir Livro</h2>
  <form (submit)="incluir()" ngNativeValidate>
    <div class="form-group">
      <label for="titulo">Título:</label>
      <input type="text" class="form-control" id="titulo" [(ngModel)]="livro.titulo" required>
    </div>
    <div class="form-group">
      <label for="resumo">Resumo:</label>
      <textarea class="form-control" id="resumo" rows="4" [(ngModel)]="livro.resumo" required></textarea>
    </div>
    <div class="form-group">
      <label for="editora">Editora:</label>
      <select class="form-control" id="editora" [(ngModel)]="livro.codEditora" required>
        <option *ngFor="let editora of editoras" [value]="editora.codEditora">{{ editora.nome }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="autores">Autores:</label>
      <textarea class="form-control" id="autores" rows="4" [(ngModel)]="autoresForm" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Incluir</button>
  </form>
</main>